{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <button type="button" class="btn gradient-custom-1 text-bg-white w-100 my-3 border-rounded"><a class="text-decoration-none text-dark" href="{{ path ('app_collection_create')}}">Create new Collection!</a></button>
        </div>
    </div>
    <div class="container">
        {% if collections %}
            <div class="row my-5 pb-5">
                {% for collection in collections %}
                    <div class="col-sm-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ collection.name }}</h5>
                                <p class="card-text">{{ collection.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
